@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
}
/* title */
h1 {
    font-family: 'Lobster', cursive;
    color: #0e4e80;
    text-align: center;
    font-size: 50px;
    
}
/* hero image */
#hero-image {
    height: 900px;
    width: 100%;
    background-image: url('../images/gold-fish.jpg'); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*border: 1px solid;*/
}

/* about-us */
.about-us {
    background-color: #1E646E;
    height: 300px;
}