@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
}
/* title */

header a {
    text-decoration: none;
}
h1 {
    font-family: 'Lobster', cursive;
    color: #0e4e80;
    text-align: center;
    font-size: 50px;
    
}
#menu {
    font-size: 150%;
    float: right;
}
#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
    margin-bottom: 10px;
}
/* hero image */
#hero-image {
    height: 900px;
    width: 100%;
    margin-top: 25px;
    background-image: url('../images/gold-fish.jpg'); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*border: 1px solid;*/
}

/* about-us */
.about-us {
    background-color: #1E646E;
    height: 300px;
}
#about-center {
    font-family: 'Playfair Display', serif;
    list-style-type: none;
    color: #FEFFED;
    font-size: 25px;
    text-align: center;
    padding-top: 100px;
}

#about-center a {
    color: #FEFFED;
    font-style: italic;

}

/* footer */
.social-media {
    height: 50px;
    text-align: center;
    padding-top: 20px;
}

.social-media li {
    display: inline;
    font-size: 2.5rem;
    padding:0 5%;
}

/* gallery */
.photos  {
    clear: both;
    column-count: 3;
    padding: 50px;
}

.photos img {
    width: 100%;
    transition: transform .2s;
}
.photos img:hover {
    transform: scale(1.1);
}

/* contact us page */
.container {
    padding: 50px;
    background-color: rgba(30, 100, 110, 1);
    height: 100%;
    color: #FEFFED;
    margin-top: 25px;
}

/* enquiry form */

.contact-form {
    display: grid;
    place-items: center;
    height: 800px;
}
.container h2 {
    text-align: center;
}
#enquiry-form {
    font-family: 'Playfair Display', serif;
    background-color: rgba(0, 44, 47, 1);
    height: 90%;
    width: 800px;
    padding: 40px 30px;
    font-size: 1.5rem;
}
#enquiry-form input {
    width: 100%;
    height: 40px;
    margin: 5px 0 20px 0;
    padding-left: 10px;
    font-size: inherit;
    font-family: inherit;
}
#enquiry-form textarea {
    width: 100%;
    margin: 5px 0 20px 0;
    padding-left: 10px;
    overflow: auto;
    resize: vertical;
    font-size: inherit;
    font-family: inherit;
}
#enquiry-form input[type=submit] {
    display: block;
    width: 300px;
    height: 30px;
    font-size: 1.5rem;
    background-color: orange;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
}
#enquiry-form input[type=submit]:hover {
    display: block;
    width: 300px;
    height: 30px;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(230, 14, 32);
    border: 1px solid black;
}
.map {
    padding-top: 100px;
}

.map iframe {
    width: 85%;
    height: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.timings-center {
    display: table;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding-top: 30px;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}
table {
    text-align: right;
    width: 80%;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}
/* thank you page */
#thank-you {
    text-align: center;
    padding-top: 50px;
    font-family: 'Playfair Display', serif;
}

/* Media queries for screen size 2000px wide and up */
@media screen and (min-width: 2000px) {
    html {
        max-width: 2300px;
    }
    h1 {
        font-size: 4rem;
        
    }
    #menu {
        font-size: 3rem;
    }

    /* hero image */
    #hero-image {
        height: 1500px;
        margin-top: 45px;
    }
    
    /* about-us */
    .about-us {
        height: 400px;
    }
    #about-center {
        font-size: 3rem;
    }
    /* footer */
    .social-media {
        height: 60px;
    }
    .social-media li {
        font-size: 3rem;
    }
    .container {
        margin-top: 45px;
    }
}

/* Media queries for screen size 950px wide and down */
@media screen and (max-width: 950px) {
    h1 {
        font-size: 2rem;
        }

    #menu {
        font-size: 1rem;
        }
     #about-center {
        font-size: 1.5rem;
        padding-top: 70px;
        }
    .social-media {
        height: 40px;
        padding-top: 10px;
    }
    .social-media li{
        font-size: 2rem;
    }
    .photos {
        column-count: 2;
        padding: 20px;
    }
    .container {
        padding: 15px;
        max-width: 950px;
    }
    .container h2 {
        font-size: 1rem;
    }

    #enquiry-form {
        width: 90%;
        padding: 30px 20px;
        font-size: 1rem;
    }
    #enquiry-form input[type=submit] {
        width: 200px;
        font-size: 1rem;
    }
    #enquiry-form input[type=submit]:hover {
        width: 200px;
        font-size: 1rem;
    }
    .map iframe {
        height: 300px;
    }
    .timings-center {
        width: 100%;
        padding-left: inherit;
        font-size: 1rem;
    }

}

/* Media queries for screen size 500px wide and down */
@media screen and (max-width: 500px) {
    /* hero image */
    #hero-image {
        background-image: url('../images/gold-fish-snipped.jpg'); 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

/* Media queries for screen size 360px wide and down */
/*
@media screen and (max-width: 360px) {
    
    #hero-image {
        height: 500px;
        }
    #about-center {
        font-size: 1rem;
        padding-top: 80px;
    }
    
    }
    .social-media li{
        font-size: 1.5rem;
    }
    
    .container {
        padding: 15px;
        max-width: 320px;
    }
    .container h2 {
        font-size: 1rem;
    }
    #enquiry-form {
        width: 90%;
        padding: 30px 20px;
        font-size: 1rem;
    }
    #enquiry-form input[type=submit] {
        width: 200px;
        font-size: 1rem;
    }
    #enquiry-form input[type=submit]:hover {
        width: 200px;
        font-size: 1rem;
    }
    .map iframe {
        height: 300px;
    }
    .timings-center {
        width: 100%;
        padding-left: inherit;
        font-size: 1rem;
    }
}
*/
