@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
}
/* title */

header a {
    text-decoration: none;
}
h1 {
    font-family: 'Lobster', cursive;
    color: #0e4e80;
    text-align: center;
    font-size: 50px;
    
}
#menu {
    font-size: 150%;
    float: right;
}
#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
    margin-bottom: 10px;
}
/* hero image */
#hero-image {
    height: 900px;
    width: 100%;
    margin-top: 25px;
    background-image: url('../images/gold-fish.jpg'); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*border: 1px solid;*/
}

/* about-us */
.about-us {
    background-color: #1E646E;
    height: 300px;
}
#about-center {
    font-family: 'Playfair Display', serif;
    list-style-type: none;
    color: #FEFFED;
    font-size: 25px;
    text-align: center;
    padding-top: 100px;
}

#about-center a {
    color: #FEFFED;
    font-style: italic;

}

/* footer */
.social-media {
    height: 50px;
    text-align: center;
    padding-top: 20px;
}

.social-media li {
    display: inline;
    font-size: 250%;
    padding:0 5%;
}

/* gallery */
.photos  {
    clear: both;
    column-count: 3;
    padding: 50px;
}

.photos img {
    width: 100%;
    transition: transform .2s;
}
.photos img:hover {
    transform: scale(1.1);
}

/* contact us page */
.container {
    padding: 50px;
    background-color: rgba(30, 100, 110, 1);
    height: 100%;
    color: #FEFFED;
    margin-top: 25px;
}

/* enquiry form */

.contact-form {
    display: grid;
    place-items: center;
    height: 800px;
}
.container h2 {
    text-align: center;
}
#enquiry-form {
    font-family: 'Playfair Display', serif;
    background-color: rgba(0, 44, 47, 1);
    height: 90%;
    width: 600px;
    padding: 40px 30px;
    font-size: 20px;
}
#enquiry-form input {
    width: 100%;
    height: 40px;
    margin: 5px 0 20px 0;
    padding-left: 5px;
    font-size: inherit;
    font-family: inherit;
}
#enquiry-form textarea {
    width: 100%;
    margin: 5px 0 20px 0;
    padding-left: 5px;
    overflow: auto;
    resize: vertical;
    font-size: inherit;
    font-family: inherit;
}
#enquiry-form input[type=submit] {
    display: block;
    width: 300px;
    height: 30px;
    font-size: 25px;
    background-color: orange;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
}
#enquiry-form input[type=submit]:hover {
    display: block;
    width: 300px;
    height: 30px;
    font-size: 25px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(230, 14, 32);
    border: 1px solid black;
}
.map {
    padding-top: 100px;
}

.map iframe {
    width: 80%;
    height: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.timings-center {
    display: table;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding-top: 30px;
    font-family: 'Playfair Display', serif;
}
table {
    text-align: right;
    width: 80%;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}
/* thank you page */
#thank-you {
    text-align: center;
    padding-top: 50px;
    font-family: 'Playfair Display', serif;
}